click
dash-auth
dash-bootstrap-components>=1
dash>=2.10.1
dtreeviz>=2.1
flask_simplelogin
Flask-WTF>=1.1
graphviz>=0.18.2
joblib
jupyter_dash>=0.4.1
numpy
oyaml
pandas>=1.1
scikit-learn>=1.1
shap>=0.42.1
waitress
